header {
    background-color:#7C5E99;
}

a {
    color: #FFF;
    font-size: 20px;
    font-family: "Fira code", Arial, monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}