header {
    background-color:#7C5E99;
    position: absolute;
    width: 1440px;
    height: 80px;
}

img {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0px;
    top: 5px;
}

nav {
    position: absolute;
    width: 702px;
    height: 60px;
    left: 658px;
    top: 10px;
}

a {
    color: #FFF;
    font-size: 20px;
    font-family: "Fira code", Arial, monospace;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px black;
}